[alias]
	a       = add
	aa      = add --all
	au      = add -u
	c       = commit -m
	ca      = commit --amend
	cd      = clone --depth 1
	qc      = commit -am
	can     = commit --amend --no-edit
	d       = difftool
	l       = log --oneline --decorate
	hist    = "log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --date=short"
	pf      = push --force
	reb     = rebase -i
	remotes = remote -v
	res     = restore :/
	ress    = restore --staged
	rm      = rm --cached
	st      = status
	t       = tag -a
	cbr     = branch -b
	setup   = "branch --set-upstream-to=origin/main main"
	chp     = "cherry-pick"
[credential]
	helper = store
[color]
	ui = true
[color "status"]
	added     = green
	changed   = yellow
	untracked = red
[commit]
	gpgsign = true
[core]
	autocrlf     = input
	editor       = cursor --wait
	eol          = lf
	filemode     = false
	symlinks     = false
	whitespace   = trailing-space
	excludesfile = ~/.gitignore_global
	pager        = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
	side-by-side = true
[diff]
	tool = cursor
[difftool "cursor"]
	cmd = cursor --wait --diff "$LOCAL" "$REMOTE"
[merge]
    conflictstyle = zdiff3
    tool = cursor
[mergetool "cursor"]
    cmd = cursor --wait $MERGED
[filter "lfs"]
	clean    = git-lfs clean -- %f
	process  = git-lfs filter-process
	required = true
	smudge   = git-lfs smudge -- %f
[gui]
	editor = cursor
[init]
	defaultBranch = main
[push]
	default = current
[tag]
	gpgsign = true
[gpg]
	program = /bin/gpg
	format  = openpgp
[gpg "openpgp"]
	program = /bin/gpg
[user]
	name       = AlbertoVf
	email      = avf.git-repos@protonmail.com
	signingkey = 52055A6966DB6766
