[alias]
    a       = add
    aa      = add --all
    au      = add -u
    c       = commit -m
    ca      = commit --amend
    can     = commit --amend --no-edit
    check   = checkout
    d       = difftool
    l       = log --oneline --decorate --all --graph
    reb     = rebase -i
    remotes = remote -v
    res     = restore
    ress    = restore --staged
    st      = status
    t       = tag -a
    pf      = push --force
[credential]
    helper = store
[color]
    ui = true
[color "status"]
    added     = green
    changed   = yellow
    untracked = red
[core]
    autocrlf   = input
    editor     = code --wait --profile minimal
    eol        = lf
    filemode   = false
    symlinks   = false
    whitespace = trailing-space
	excludesfile = ~/.gitignore_global
[diff]
    colorMoved = default
    tool       = code
[difftool]
    prompt = false
[difftool "code"]
    cmd = code --profile minimal --wait --diff --reuse-window $LOCAL $REMOTE
[filter "lfs"]
    clean    = git-lfs clean -- %f
    process  = git-lfs filter-process
    required = true
    smudge   = git-lfs smudge -- %f
[gui]
    editor = code
[init]
    defaultBranch = main
[merge]
    conflictstyle = diff3
    tool          = code
[mergetool]
    keepBackup = false
[mergetool "code"]
    cmd = code --profile minimal --wait --reuse-window $MERGED
[push]
    default = current
[sequence]
    editor = code --profile minimal --wait --reuse-window
[user]
    name  = AlbertoVf
    email = avf.git-repos@protonmail.com
