[submodule "modules/dotly"]
	path = modules/dotly
	url = https://github.com/CodelyTV/dotly.git
	branch = main
[submodule "os/linux/qtile"]
	path = os/linux/qtile
	url = https://github.com/AlbertoVf/qtile.git
[submodule "modules/wallpapers"]
	path = modules/wallpapers
	url = https://github.com/AlbertoVf/wallpapers.git
[submodule "bin"]
	path = bin
	url = https://github.com/AlbertoVf/shell-scripts
