[user]
	name = AlbertoVf
	email = avf.git-repos@protonmail.com
[init]
	defaultBranch = main
[gui]
	editor = code
[credential]
	helper = store
[color]
	ui = true
[push]
	default = simple
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[color "status"]
	added = green
	changed = yellow
	untracked = red
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	whitespace = trailing-space
	symlinks = false
	eol = lf
	autocrlf = input
	pager = delta
	editor = vim
	filemode = false
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	navigate = true  # use n and N to move between diff sections
	side-by-side = true
	line-numbers = true
	features = decorations
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
[alias]
	a = add
	aa = add --all
	au = add -u
	c = commit -m
	ca = commit --amend
	check = checkout
	d = diff
	l = log --oneline --decorate --all --graph
	pull = pull origin
	push = push origin
	remotes = remote -v
	res = restore
	ress = restore --staged
	st = status
	t = tag -a
