[user]
	name = AlbertoVf
	email = avf.git-repos@protonmail.com
[init]
	defaultBranch = main
[gui]
	editor = code
[credential]
	helper = store
[color]
	ui = true
[push]
	default = simple
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green
	changed = yellow
	untracked = red
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	whitespace = trailing-space
	symlinks = false
	eol = lf
	autocrlf = input
	pager = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	navigate = true  # use n and N to move between diff sections
	side-by-side = true
	line-numbers = true
	features = decorations
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw

[alias]
	st = status
	a = add
	aa = add --all
	b = branch
	d = diff
	l = log --oneline --decorate --all --graph
	lg = log --stat
	c = commit -m
	p = push
	pm = push --mirror
	pl = pull
	rst = restore
	r = remote
	t = tag -a
