configuration {
    modi: "window,run,ssh,file-browser-extended,drun";
    display-window: "类 ";
    display-run: " ";
    display-ssh:" ";
    display-file-browser-extended:" ";
    display-drun:" ";
    show-icons: true;
    font: "Anonymice Nerd Font Bold 14";
    display-format: "{icon} {name}";
}
@import "/usr/share/rofi/themes/Arc-Dark.rasi"
