@theme "./launchers/type-1/style-6.rasi"

configuration {
    modi                          : "file-browser-extended,drun,window,ssh,emoji";
    display-window                : "🪟";
    display-run                   : "🧑‍💻";
    display-ssh                   : "💻";
    display-drun                  : "🔎";
    display-file-browser-extended : "📂";
    display-keys                  : "🔑";
    display-emoji                 : "✏️";
    display-clipboard             : "📎";
    display-format                : "{icon} {name}";
    drun-display-format           : "{name}";
    font                          : "CaskaydiaCove Nerd Font Bold 16";
    show-icons                    : true;
    icon-theme                    : "Tela-circle-nord-dark";
    terminal                      : "kitty";
}

textbox-prompt-colon {
    str: "🔎";
}
