<?xml version="1.0" encoding="UTF-8" ?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="app-accessories-menu" label="Accesorios">

  <item label="App finder">
    <action name="Execute">
      <command>xfce4-appfinder</command>
  </action>
  </item>

  <item label="Bitwarden">
    <action name="Execute">
      <command>bitwarden</command>
  </action>
  </item>

  <item label="Catfish">
    <action name="Execute">
      <command>catfish</command>
    </action>
  </item>

  <item label="Teamviewer">
    <action name="Execute">
      <command>teamviewer</command>
  </action>
  </item>

  <item label="Zeal">
    <action name="Execute">
      <command>zeal</command>
  </action>
  </item>

  <item label="Meld">
    <action name="Execute">
      <command>meld</command>
  </action>
  </item>

  <item label="Virtual Box">
    <action name="Execute">
      <command>virtualbox</command>
  </action>
  </item>

</menu>
<menu id="apps-editors-menu" label="Editors">

  <item label="Visual Studio Code">
    <action name="Execute">
      <command>code</command>
    </action>
  </item>

  <item label="Intellij Idea">
    <action name="Execute">
      <command>idea</command>
    </action>
  </item>

  <item label="Pycharm">
    <action name="Execute">
      <command>pycharm</command>
    </action>
  </item>

  <item label="Neovim">
    <action name="Execute">
      <command>alacritty -e nvim</command>
    </action>
  </item>

  <item label="Emacs">
    <action name="Execute">
      <command>emacs</command>
    </action>
  </item>

</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="Alacritty">
    <action name="Execute">
      <command>alacritty</command>
    </action>
  </item>

  <item label="Termite">
    <action name="Execute">
      <command>termite</command>
    </action>
  </item>

  <item label="Tilix">
    <action name="Execute">
      <command>tilix</command>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">

  <item label="Brave">
    <action name="Execute">
      <command>brave</command>
    </action>
  </item>

  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
    </action>
  </item>

  <item label="Tor">
    <action name="Execute">
      <command>tor-browser</command>
    </action>
  </item>

  <item label="Evolution">
    <action name="Execute">
      <command>evolution</command>
    </action>
  </item>

</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="VLC">
    <action name="Execute">
      <command>vlc</command>
    </action>
  </item>

  <item label="Pavucontrol">
    <action name="Execute">
      <command>pavucontrol</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <item label="OBS">
    <action name="Execute">
      <command>obs</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <item label="Pragha">
    <action name="Execute">
      <command>pragha</command>
  </action>
  </item>

  <item label="Spotify">
    <action name="Execute">
      <command>spotify</command>
  </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  <item label="Thunar">
    <action name="Execute">
      <command>Thunar</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <item label="Ranger">
    <action name="Execute">
      <command>alacritty -e ranger</command>
    </action>
  </item>

</menu>

<menu id="apps-graphics-menu" label="Graphics">
  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <item label="Draw io">
    <action name="Execute">
      <command>drawio</command>
    </action>
  </item>

  <item label="Inkscape">
    <action name="Execute">
      <command>inkscape</command>
    </action>
  </item>

  <item label="Krita">
    <action name="Execute">
      <command>krita</command>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">

  <item label="Pamac">
    <action name="Execute">
      <command>pamac-manager</command>
    </action>
  </item>

  <item label="ArcoLinux">
    <action name="Execute">
      <command>arcolinux-logout</command>
    </action>
  </item>

</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="app-accessories-menu" />
  <menu id="apps-editors-menu" />
  <menu id="apps-graphics-menu" />
  <menu id="apps-net-menu" />
  <menu id="apps-multimedia-menu" />
  <menu id="apps-term-menu" />
  <menu id="apps-fileman-menu" />
  <separator label="System" />
  <menu id="system-menu" />
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
